# Ignore node modules and build outputs
node_modules/
dist/
dist-ssr/
*.local

# Ignore Python specific files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry/Pipenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock

# Environments and Secrets
.env
.env.*
!.env.example

# OS logs and hidden files
.DS_Store
Thumbs.db
*.log
